@font-face {
    font-family: "Pretendard";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local("Pretendard Variable"),
        url("./assets/fonts/PretendardVariable.woff2")
            format("woff2-variations");
}
@font-face {
    src: url("./assets/fonts/Montserrat-Bold.ttf");
    font-family: "Ms-B";
}
@font-face {
    src: url("./assets/fonts/Montserrat-SemiBold.ttf");
    font-family: "Ms-SB";
}

@font-face {
    src: url("./assets/fonts/Montserrat-Medium.ttf");
    font-family: "Ms-M";
}
@font-face {
    src: url("./assets/fonts/Montserrat-Regular.ttf");
    font-family: "Ms-R";
}
@font-face {
    src: url("./assets/fonts/Montserrat-Light.ttf");
    font-family: "Ms-L";
}
